version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: snippet_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: snippetvault
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: snippet_cache
    ports:
      - "6379:6379"

volumes:
  postgres_data: